<?xml version="1.0" encoding="utf-8" ?>
<!---- 菜单 -->
<menu name="主菜单">
	<menu name="理论篇">
		<menu name="课件1_1_1" url="../assets/swf/test.swf"></menu>
		<menu name="课件1_1_2" url="../assets/swf/test2.swf"></menu>
		<menu name="课件1_1_3" url="../assets/swf/test3.swf"></menu>
		<menu name="课件1_1_4" url="../assets/swf/test.swf"></menu>
		<menu name="课件1_1_5" url="../assets/swf/test.swf"></menu>
		<menu name="课件1_1_6" url="../assets/swf/test.swf"></menu>
		<menu name="课件1_1_7" url="../assets/swf/test.swf"></menu>
		<menu name="课件1_1_8" url="../assets/swf/test.swf"></menu>
	</menu>
	<menu name="操作篇">
		<menu name="第一类">
			<menu name="课件2_1_1" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_2" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_3" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_3" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
		</menu>
		
		<menu name="第二类">
			<menu name="课件2_1_1" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_2" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_3" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_3" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
		</menu>
		
		<menu name="第三类">
			<menu name="课件2_1_1" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_2" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_3" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_3" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
		</menu>
		
		<menu name="第四类">
			<menu name="课件2_1_1" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_2" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_3" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
			<menu name="课件2_1_3" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" imgUrl="../assets/image/head.jpg"></menu>
		</menu>
	</menu>
	<menu name="故障篇">
		<menu name="课件4_1" url="../assets/image/Lighthouse.jpg"></menu>
	</menu>
</menu>