<?xml version="1.0" encoding="utf-8" ?>
<menu name="主菜单">
<menu name="课件1" url="">
	<menu name="课件1_1" url="">
		<menu name="课件1_1_1" url="../assets/swf/test.swf" size="4096"></menu>
	</menu>
</menu>
<menu name="课件2" url="">
	<menu name="课件2_1" url="">
		<menu name="课件2_1_1" url="http://xiaxien.gotoip2.com/html5_test/video/ABC.flv" size="827392"></menu>
	</menu>
</menu>
<menu name="课件3">
	<menu name="课件3_1" url="../assets/swf/test3.swf" size="4096"></menu>
</menu>
<menu name="课件4">
	<menu name="课件4_1"></menu>
</menu>
<menu name="课件5">
	<menu name="课件5_1"></menu>
</menu>
<menu name="课件6">
	<menu name="课件6_1"></menu>
</menu>
<menu name="课件7">
	<menu name="课件7_1"></menu>
</menu>
<menu name="课件8">
	<menu name="课件8_1"></menu>
</menu>
<menu name="课件9">
	<menu name="课件9_1"></menu>
	<menu name="课件9_2"></menu>
	<menu name="课件9_3"></menu>
	<menu name="课件9_4"></menu>
	<menu name="课件9_5"></menu>
	<menu name="课件9_6"></menu>
	<menu name="课件9_7"></menu>
	<menu name="课件9_8"></menu>
</menu>
<menu name="课件10">
	<menu name="课件10_1"></menu>
	<menu name="课件10_2"></menu>
	<menu name="课件10_3"></menu>
	<menu name="课件10_4"></menu>
	<menu name="课件10_5"></menu>
	<menu name="课件10_6"></menu>
	<menu name="课件10_7"></menu>
	
</menu>
</menu>